.tempIndicator {
  padding: 10px;
  border-radius: 54%;
  margin-right: 5px;
  cursor: pointer;
}

.tempIndicator__centrigrade {
  background-color: #e7e7eb;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #110e3c;
}

.tempIndicator__forenhight {
  background-color: #585676;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #e7e7eb;
}
