.weather {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 42px;
  padding-bottom: 50px;  
}

.weather__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather__search > span {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #e7e7eb;
  background: #6e707a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 11px 18px;
  cursor: pointer;
}

.weather__search > i {
  color: #e7e7eb;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  padding: 5px;
}

.weather__picture {
  display: flex;
  margin-top: 109px;
  justify-content: center;
}

.weather > img {
  width: auto;
}

.weather__location,
.weather__date,
.weather__condition,
.weather__tempature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 58px;
}

.weather__location {
  margin-top: 32px;
}

.weather__tempature > h3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 144px;
  line-height: 169px;
  color: #e7e7eb;
}

.weather__tempature > span {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #e7e7eb;
}

.weather__condition > span {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #a09fb1;
}

.weather__date > span {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #88869d;
}

.weather__location {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #88869d;
}

.weather__date > span:nth-child(2) {
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: 635px) {
  .weather {
    padding: 0px;
  }
}
